HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/

h2-db.mv.db


### neu
src/main/resources/static/bundle.class
src/main/resources/static/bundle.css.map
src/main/resources/static/bundle.js
src/main/resources/static/bundles.js.map
